<body>

  <div class="container">

    <button (click)="loadReservationsAdd();"><h2>NEW RESERVATION</h2></button>
    <button (click)="loadReservationsFilters();"><h2>FILTERS</h2></button>

    <app-reservations-add *ngIf="loadedReservationsAdd"></app-reservations-add>
    <app-reservations-filters *ngIf="loadedReservationsFilters"></app-reservations-filters>

    <table class="apartments">
      <thead>
        <th>  DATA  </th>
        <th></th>
        <th>  APARTAMENT </th>
        <th>  GOŚĆ</th>
        <th>  KRAJ  </th>
        <th>  DNI  </th>
        <th>  DOROŚLI  </th>
        <th>  DZIECI </th>
        <th>  MAŁE DZIECI  </th>

      </thead>
      <tbody>
        <ng-container *ngFor="let reservation of allReservations">
        <tr (click)="reservation.expanded = !reservation.expanded">
          <td>{{reservation.reservationDate}}</td>
          <td>ZAMELDOWANIE</td>
          <td>{{reservation.apartment}}</td>
          <td>{{reservation.guestName}}</td>
          <td>{{reservation.guestCountry}}</td>
          <td>{{reservation.stayDuration}}</td>
          <td>{{reservation.adults}}</td>
          <td>{{reservation.children}}</td>
          <td>{{reservation.smallChildren}}</td>
        </tr>
          <ng-container *ngIf="reservation.expanded">
            <tr>
              <td colspan="1">{{reservation.guestName}}</td>
              <td colspan="1"><button (click)="delete();"><h2>DELETE</h2></button></td>
              <td colspan="1"><button (click)="edit();"><h2>EDIT</h2></button></td>
              <td colspan="1"><button (click)="action1();"><h2>IDŹ DO REZERWACJI</h2></button></td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</body>
