{{title}}
<br>
<!--<form>-->
<!--  <div>-->
<!--    <label for="login">-->
<!--      Login-->
<!--    </label>-->
<!--    <input #login id="login" type="text">-->
<!--  </div>-->

<!--  <div>-->
<!--    <label for="password">-->
<!--      Address-->
<!--    </label>-->
<!--    <input #password  id="password" type="password">-->
<!--  </div>-->

<!--  <button (click)="addCredentials(login.value, password.value)">zaloguj</button>-->
<!--</form>-->

<!--<p>{{log}}</p>-->
<!--<p>{{pass}}</p>-->


<!--<div *ngFor="let user of allUsers">-->

<!--  <div *ngIf="user.login == log; else elseBlock">-->
    <app-menu></app-menu>
<!--  </div>-->

<!--  <ng-template #elseBlock>-->
<!--    wrong credentials-->
<!--  </ng-template>-->

<!--</div>-->

